body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize:none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  /*new lines*/
  
  width: 100%;
  overflow:auto;
}
textarea:focus{
  background-color:rgba(238, 255, 0, 0.37);
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  /*new lines*/
  height: 200px;
}
header.jumbotron {
  padding-top: 3px;
  padding-bottom: 3px;
}
.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row{
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
.row_hdr{
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #0f0f0f;
}
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  /*new lines*/
  vertical-align: middle;
  text-align:right;
  font-size: 150%;
  font-weight: 200;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  /*new lines*/
  font-size: 150%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

 /* Tablets - header changes color */
 @media screen and (max-width: 992px) {

} 
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
 body{
   font-size: 15px;
 } 
 header.jumbotron{
  display:flex;
  flex-direction: column;
  height: 150px;
}
header.jumbotron h1{
  font-size: 250%;
}
/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  body{
    font-size: 14px;
  } 
  header.jumbotron{
    height: 120px;
  }
  header.jumbotron h1{
    font-size: 200%;
  }
  header.jumbotron .lead{
    font-size: 15px
  }
  .hour {
    font-size: 120%;
  }
}